* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #242428;
  --black: #0D0D0D;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.main-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  display: grid;
  grid-template: 1.1fr 7fr / 
      minmax(235px, 16vw) 3fr minmax(250px, 0.95fr);
  grid-template-areas: 
      "l-sidebar header header"
      "l-sidebar main   r-sidebar";
}

.main-container > * {
  border: 2px solid red;
}

.left-sidebar {
  grid-area: l-sidebar;
  display: grid;
  grid-template: 0.98fr 2.8fr 3.5fr / 1fr;
  grid-template-areas: 
      'filler'
      'page-buttons'
      'settings-container';
  background-color: rgba(255, 255, 255, 0.795);
}

.left-sidebar > * {
  border: 2px solid blue;
}

.filler {
  grid-area: filler;
}

.page-btns {
  grid-area: page-buttons;
  display: grid;
  gap: 5px;
  padding: 0 0.8rem;
}

.page-btns > * {
  text-align: left;
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  gap: 1rem;
  align-items: center;
}

.dashboard {
  background-color: var(--dark-gray);
  color: white;
  justify-self: center;
  border-radius: 50px;
}

.settings-container {
  grid-area: settings-container;
  display: grid;
  place-items: center;
}

.box {
  background-color: var(--dark-gray);
  height: 300px;
  width: 200px;
  border-radius: 25px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.right-sidebar {
  grid-area: r-sidebar;
}