* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(./assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  place-items: center;
}

.main-container {
  height: 100%;
  width: 100%;
  background: inherit;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);

  display: grid;
  grid-template: 1fr 9fr / 1fr 4fr 1fr;
  grid-template-areas: 
      "l-sidebar header header"
      "l-sidebar main   r-sidebar"
}

.main-container::before {
  content: '';
  position: absolute;
  background: inherit;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  box-shadow: inset 0 0 0 2500px rgba(255, 255, 255, .5);
  filter: blur(35px);
  margin: -20px;
}

.main-container > * {
  border: 2px solid red;
}

.left-sidebar {
  grid-area: l-sidebar;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.right-siderbar {
  grid-area: r-sidebar;
}